.row-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}
.row-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.row-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}
.row-col-2.order {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 32px;
  margin-bottom: 42px;
}
.row-col-2.order-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.flex-col-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.row-filter-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
