*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1250px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.col-3 img{
  width: 100%;
}
.small-container{
    /* max-width: 1080px; */
    margin: auto;
    padding: 0 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.title{
    text-align: center;
    margin: 0 auto  80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background: #FF523B;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;    
    transform: translateX(-50%);
}
h5{
    color: #FF523B;
    margin: 20px 0px;
    font-size: 18px;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #FF523B;
}
.col-4:hover{
    transform: translateY(-5px);
}


.fa .fa-quote-left{
    font-size: 34px;
    color: #FF523B;
}


.row-2
{
    justify-content: space-between;
    margin: 100px auto 50px;
    align-items: center;
}
select{
    border: 1px solid #737373;
    padding: 5px;
    height: 40px;
    font-size: 16px;
}
select:focus{
  outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #737373;
    margin-left: 10px;
    width: 40px;
    height: 40px;   
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: black;
    color: white;
}

/* ---------1 san pham------------- */




.btn{
    display: inline-block;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 40px;
   text-decoration: none;
}

.small-img-row{
    max-height: 100px;
}
.small-img{
    height: 50px;
 
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border: 1px solid #555;
}
.title-thuongmua{
    padding-left: 30px;
   
}
/* 
----------sp------- */
.product-content{
    padding:  0 35px;
}

.product-content-left{
    width: 60%;
    
}
.product-content-right{
    width: 40%;
    margin-bottom: 60px;

}
.product-content-left-big-img{
    width: 79%;
    padding-right: 20px;
}
.product-content-left-small-img{
    width: 19%;
    height: 100%;
   
}
.product-content-left-small-img img{
    height: 100%;
    width: 98%;
   
}
.product-content-left-big-img img{
    width: 100%;
    height: 100%;
   
}

input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin: 0px 40px;
   
}
.small-img:hover{
    cursor: pointer;
    border: 1px solid #737373;
    
}