<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;600;700;800;900&family=Inter:wght@200;300;400;500;600&family=Montserrat:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../asset/slick-master/slick/slick.css"
    />
    <link rel="stylesheet" href="../asset//css/slick.css" />
    <link rel="stylesheet" href="../asset/css/base.css" />
    <link rel="stylesheet" href="../asset/css/grid.css" />
    <link rel="stylesheet" href="../asset/css/style.css" />
  </head>

  <body>
    <!-- Nav -->
    <header class="header">
      <!-- Hidden when scoll -->
      <a href="#" class="header-bar">
        <img src="../asset/images/menu.png" alt="" class="header-menu-bar" />
      </a>
      <div class="header-logo">
        <a href="#">
          <img
            src="../asset/images/routine_log.png"
            alt=""
            class="header-logo-img"
          />
        </a>
      </div>
      <!-- end -->
      <!-- second header -->
      <ul class="header-nav">
        <div class="header-second-logo">
          <a href="#">
            <img
              src="../asset/images/routine_log.png"
              alt=""
              class="header-logo-img"
            />
          </a>
        </div>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">NAM</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">NỮ</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">NEW</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">BEST</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">SALE</a>
        </li>
      </ul>
      <div class="header-content-right">
        <div class="header-search-bar">
          <div>
            <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
          </div>
          <div class="header-search-content">Tìm kiếm</div>
        </div>
        <div class="header-content-tool">
          <div>
            <i class="fa-regular fa-user header-content-user"></i>
          </div>
          <div>
            <i class="fa-regular fa-heart header-content-heart"></i>
          </div>
          <div>
            <i
              class="fa-solid fa-heart header-content-heart"
              style="display: none"
            ></i>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="34"
              height="34"
              fill="currentColor"
              class="bi bi-cart header-content-cart"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
          </div>
        </div>
      </div>
    </header>
    <!-- End nav -->
    <div class="wrapper">
      <ul class="breadcrumbs">
        <li><a href="#">Trang chủ /</a></li>
        <li><a href="#">Thời trang nam</a></li>
      </ul>
      <main id="main-content">
        <div class="main-banner">
          <img
            src="../asset/images/quan-ao-thoi-trang-nam.jpg"
            alt=""
            class="main-banner-img"
          />
        </div>
        <h3 class="category-title">Thời Trang Nam</h3>

        <div class="functions">
          <div class="filter-function">
            Bộ lọc
            <i class="fa-solid fa-filter"></i>
          </div>
          <div class="view-function">
            <strong>363</strong>
            Sản phẩm
          </div>
          <div class="sort-function">
            Sắp xếp
            <form action="">
              <select name="" id="" class="sort-function-select">
                <option value="">Mặc định</option>
              </select>
            </form>
          </div>
        </div>
        <div class="main-colums">
          <!-- block filter -->
          <div class="filter-sidebar">
            <div class="filter-block">
              <div class="filter-category active">
                <ul>
                  DANH MỤC
                </ul>
                <i class="fa-solid fa-chevron-down filter-dropdown"></i>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div>
            <div class="filter-block">
              <div class="filter-category">
                <ul>
                  GIỚI TÍNH
                </ul>
                <i class="fa-solid fa-chevron-down filter-dropdown"></i>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Unisex</a>
                </li>
              </div>
            </div>
            <div class="filter-block">
              <div class="filter-category fast-active fast-close">
                <ul>
                  NHÓM SẢN PHẨM
                </ul>
                <i class="fa-solid fa-chevron-down filter-dropdown"></i>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div>

            <div class="filter-block">
              <div class="filter-category">
                <ul>
                  KIỂU TAY
                </ul>
                <i class="fa-solid fa-chevron-down filter-dropdown"></i>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div>
            <div class="filter-block">
              <div class="filter-category">
                <ul>
                  Giá tiền
                </ul>
                <i class="fa-solid fa-chevron-down filter-dropdown"></i>
              </div>
              <div class="filter-list">
                <input
                  type="range"
                  name=""
                  id=""
                  min="79000"
                  max="1375000"
                  class="filter-list-priceRange"
                />
                <div class="filter-price">
                  <span class="filter-price-min">79 000đ</span>
                  <span class="filter-price-max">1 375 000đ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-colum">
            <div class="product-row row-col-4">
              <!-- start item -->
              <div class="product-item">
                <a href="#" class="product-image-item">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-image"
                  />
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_4__1.jpg"
                    alt=""
                    class="product-image-second"
                  />
                </a>
                <div class="product-title">
                  <a href="#" class="product-name">
                    Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
                  </a>
                  <i class="fa-regular fa-heart product-icon"></i>
                </div>
                <div class="product-price">
                  <span class="product-newPrice">441.000₫</span>
                  <span class="product-oldPrice">499.000₫</span>
                </div>
                <span class="product-discount"> -2% </span>
                <div class="product-color-list">
                  <div class="product-color">
                    <div class="product-color-child">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img"
                      />
                    </div>
                    <div class="product-color-hover">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img-hover"
                      />
                      <span class="product-color-name"> BALAD BLUE </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end item -->
              <!-- start item -->
              <div class="product-item">
                <a href="#" class="product-image-item">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-image"
                  />
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_4__1.jpg"
                    alt=""
                    class="product-image-second"
                  />
                </a>
                <div class="product-title">
                  <a href="#" class="product-name">
                    Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
                  </a>
                  <i class="fa-regular fa-heart product-icon"></i>
                </div>
                <div class="product-price">
                  <span class="product-newPrice">441.000₫</span>
                  <span class="product-oldPrice">499.000₫</span>
                </div>
                <span class="product-discount"> -2% </span>
                <div class="product-color-list">
                  <div class="product-color">
                    <div class="product-color-child">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img"
                      />
                    </div>
                    <div class="product-color-hover">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img-hover"
                      />
                      <span class="product-color-name"> BALAD BLUE </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end item -->
              <!-- start item -->
              <div class="product-item">
                <a href="#" class="product-image-item">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-image"
                  />
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_4__1.jpg"
                    alt=""
                    class="product-image-second"
                  />
                </a>
                <div class="product-title">
                  <a href="#" class="product-name">
                    Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
                  </a>
                  <i class="fa-regular fa-heart product-icon"></i>
                </div>
                <div class="product-price">
                  <span class="product-newPrice">441.000₫</span>
                  <span class="product-oldPrice">499.000₫</span>
                </div>
                <span class="product-discount"> -2% </span>
                <div class="product-color-list">
                  <div class="product-color">
                    <div class="product-color-child">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img"
                      />
                    </div>
                    <div class="product-color-hover">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img-hover"
                      />
                      <span class="product-color-name"> BALAD BLUE </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end item -->
              <!-- start item -->
              <div class="product-item">
                <a href="#" class="product-image-item">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-image"
                  />
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_4__1.jpg"
                    alt=""
                    class="product-image-second"
                  />
                </a>
                <div class="product-title">
                  <a href="#" class="product-name">
                    Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
                  </a>
                  <i class="fa-regular fa-heart product-icon"></i>
                </div>
                <div class="product-price">
                  <span class="product-newPrice">441.000₫</span>
                  <span class="product-oldPrice">499.000₫</span>
                </div>
                <span class="product-discount"> -2% </span>
                <div class="product-color-list">
                  <div class="product-color">
                    <div class="product-color-child">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img"
                      />
                    </div>
                    <div class="product-color-hover">
                      <img
                        src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                        alt=""
                        class="product-color-img-hover"
                      />
                      <span class="product-color-name"> BALAD BLUE </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end item -->
            </div>
            <ul class="home-pagination">
              <li class="home-pagination-item home-pagination-disable">
                <a href="#" class="home-pagination-link">
                  <i class="fa-solid fa-angle-left home-pagination-icon"></i>
                </a>
              </li>
              <li class="home-pagination-item home-pagination-disable">
                <a href="#" class="home-pagination-link">
                  <i class="fa-solid fa-angles-left home-pagination-icon"></i>
                </a>
              </li>
              <li class="home-pagination-item home-pagination-active">
                <a class="home-pagination-link" href="#">1</a>
              </li>
              <li class="home-pagination-item">
                <a class="home-pagination-link" href="#">2</a>
              </li>
              <li class="home-pagination-item">...</li>
              <li class="home-pagination-item">
                <a class="home-pagination-link" href="#">15</a>
              </li>
              <li class="home-pagination-item">
                <a class="home-pagination-link" href="#">16</a>
              </li>
              <li class="home-pagination-item">
                <a href="#" class="home-pagination-link">
                  <i class="fa-solid fa-angle-right home-pagination-icon"></i>
                </a>
              </li>
              <li class="home-pagination-item">
                <a href="#" class="home-pagination-link">
                  <i class="fa-solid fa-angles-right home-pagination-icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <div class="product-suggest">
        <h3 class="product-suggest-title">
          GỢI Ý CHO BẠN: CÁC SẢN PHẨM ĐƯỢC QUAN TÂM NHẤT
        </h3>
        <div class="my-slickSilder">
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="product-item">
            <a href="#" class="product-image-item">
              <img
                src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                alt=""
                class="product-image"
              />
            </a>
            <div class="product-title">
              <a href="#" class="product-name">
                Áo Sơ Mi Nam Tay Ngắn Linen Xếp Ly Trước Form Fitted
              </a>
            </div>
            <div class="product-price">
              <span class="product-newPrice">441.000₫</span>
              <span class="product-oldPrice">499.000₫</span>
              <span class="product-discount"> -2% </span>
            </div>
            <div class="product-color-list">
              <a href="#" class="product-color">
                <div class="product-color-child">
                  <img
                    src="../asset/images/ao-so-mi-nam-10s23shs004_ballad_blue_1__1.jpg"
                    alt=""
                    class="product-color-img"
                  />
                </div>
              </a>
            </div>
          </div>
          <!-- end item -->
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../asset/slick-master/slick/slick.min.js"
    ></script>
    <script type="text/javascript" src="../asset/js/slick.js"></script>
    <script src="../asset/js/main.js"></script>
  </body>
</html>
