<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;600;700;800;900&family=Inter:wght@200;300;400;500;600&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../asset/css/base.css" />
    <link rel="stylesheet" href="../asset/css/style.css" />
  </head>

  <body>
    <header class="header">
      <a href="#" class="header-bar">
        <img src="../asset/images/menu.png" alt="" class="header-menu-bar" />
      </a>
      <div class="header-logo">
        <a href="#">
          <img
            src="../asset/images/routine_log.png"
            alt=""
            class="header-logo-img"
          />
        </a>
      </div>
      <div class="header-content-right">
        <div class="header-search-bar">
          <div>
            <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
          </div>
          <div class="header-search-content">Tìm kiếm</div>
        </div>
        <div class="header-content-tool">
          <div>
            <i class="fa-regular fa-user header-content-user"></i>
          </div>
          <div>
            <i class="fa-regular fa-heart header-content-heart"></i>
          </div>
          <div>
            <i
              class="fa-solid fa-heart header-content-heart"
              style="display: none"
            ></i>
          </div>
          <div class="hea">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="34"
              height="34"
              fill="currentColor"
              class="bi bi-cart header-content-cart"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <ul class="breadcrumbs">
        <li><a href="#">Trang chủ /</a></li>
        <li><a href="#">Thời trang nam</a></li>
      </ul>
      <main id="main-content">
        <div class="main-banner">
          <img
            src="../asset/images/quan-ao-thoi-trang-nam.jpg"
            alt=""
            class="main-banner-img"
          />
        </div>
        <h3 class="category-title">Thời Trang Nam</h3>

        <div class="functions">
          <div class="filter-function">
            Bộ lọc
            <i class="fa-solid fa-filter"></i>
          </div>
          <div class="view-function">
            <strong>363</strong>
            Sản phẩm
          </div>
          <div class="sort-function">
            Sắp xếp
            <form action="">
              <select name="" id="" class="sort-function-select">
                <option value="">Mặc định</option>
              </select>
            </form>
          </div>
        </div>
        <div class="main-colums">
          <div class="filter-sidebar">
            <div class="filter-block">
              <div class="filter-category">
                <ul>
                  DANH MỤC
                </ul>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  font-weight="bold"
                  fill="currentColor"
                  class="bi bi-chevron-down filter-dropdown"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div>
            <div class="filter-block">
              <div class="filter-category">
                <ul>
                  GIỚI TÍNH
                </ul>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  font-weight="bold"
                  fill="currentColor"
                  class="bi bi-chevron-down filter-dropdown"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Unisex</a>
                </li>
              </div>
            </div><div class="filter-block">
              <div class="filter-category">
                <ul>
                  NHÓM SẢN PHẨM
                </ul>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  font-weight="bold"
                  fill="currentColor"
                  class="bi bi-chevron-down filter-dropdown"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div><div class="filter-block">
              <div class="filter-category">
                <ul>
                  KIỂU TAY
                </ul>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  font-weight="bold"
                  fill="currentColor"
                  class="bi bi-chevron-down filter-dropdown"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </div>
              <div class="filter-list">
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manShirt"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manShirt"
                  >
                  </label>
                  <a href="#">Áo Nam</a>
                </li>
                <li class="filter-category-name">
                  <input
                    type="checkbox"
                    name=""
                    id="filter-checkbox-manPants"
                    class="filter-checkbox"
                  />
                  <label
                    class="filter-newCheckbox"
                    for="filter-checkbox-manPants"
                  ></label>
                  <a href="#">Quần Nam</a>
                </li>
              </div>
            </div>
          </div>
          <div class="product-colum"></div>
        </div>
      </main>
    </div>
    <script src="../asset/js/main.js"></script>
  </body>
</html>
